.navbar {
    height: 68px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0 30px 0;
}

.navbar__logo {
    padding: 5px;
    margin-left: 50px;
}

.link {
    margin: 10px;
    text-decoration: none;
    color: #ff6060;
    font-size: 24px;
}

.link:hover {
    text-decoration: underline 1px #ff6060;
}
