.home {
    margin: 20px 50px 20px 50px;
    .home-title {
        @include banner;
        background-image: url('../../assets/img-home.png');
        position: relative;
        &:before {
            content: '';
            position: absolute;
            border-radius: 25px;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.3);
        }
        h1 {
            color: white;
            font-size: 48px;
            display: block;
            position: absolute;
        }
    }
}
@media (max-width: 599px) {
    .home {
        margin: 10px;
        .home-title {
            h1 {
                font-size: 24px;
                width: 60%;
                margin-left: 15px;
            }
        }
    }
}
