@mixin banner {
    position: relative;
    background-position: center;
    background-size: cover;
    height: 223px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin collapse {
    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 50px 100px 50px 100px;

        &__collapse {
            width: 100%;
            height: fit-content;
            margin-bottom: 15px;
            &__title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: $main-color;
                color: white;
                font-size: 20px;
                height: 52px;
                padding: 0 15px 0 15px;
                border-radius: 5px;
                .chevron-icon {
                    cursor: pointer;
                    transition: transform 0.5s ease-in-out;
                    &.active {
                        transform: rotate(-180deg);
                        transition: transform 0.5s ease-in-out;
                    }
                }
            }

            &__text {
                overflow: hidden;
                height: 0;
                background-color: $secondary-color;
                color: $main-color;
                font-size: 18px;
                padding: 20px 80px 20px 15px;
                border-radius: 0 0 5px 5px;
                transform: scaleY(0);
                transition: transform 0.5s ease-in-out;
                transform-origin: top;

                &.active {
                    height: fit-content;
                    transform: scaleY(1);
                    transition: transform 0.5s ease-in-out;
                }
            }
        }
    }
}
